@import url("https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR&display=swap");

.contents {
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
  height: auto;
}
.mainlogo {
  display: block;
  height: 512px;
  width: 512px;

  /* background-image: url(/images/Logo.png); */
  height: 50px;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}
@media screen and (max-width: 815px) {
  .contents {
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 8vw;
    height: auto;
  }
  .contents h1 {
    font-size: 16px;
  }
}
.imgbox {
  display: block;
  padding: 0px;
  width: 550px;
  height: auto;
  margin: 0 auto;
}
.imgbox img {
  float: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 815px) {
  .imgbox {
    display: block;
    padding: 0px;
    width: 200px;
    height: 300px;
    margin: 0 auto;
  }
  .imgbox img {
    float: center;
    width: 100%;
    height: 100%;
  }
}

.answerBox {
  height: 20vh;
  background-color: rgb(248, 248, 248);
  vertical-align: middle;
}

.inputLabel input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.inputLabel {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #44679f;
  cursor: pointer;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.startTest {
  width: 350px;

  margin: 0 auto;
  margin-top: 12px;
}
.result{
  width: 550px;

  margin: 0 auto;
  margin-top: 12px;
}

.replay{
  width: 550px;

  margin: 0 auto;
  margin-top: 12px;
}

@media screen and (max-width: 815px) {
  .startTest {
    width: 200px;
    margin: 0 auto;
    margin-top: 8px;
  }
  .result{
    width: 200px;
  
    margin: 0 auto;
    margin-top: 8px;
  }
  
  .replay{
    width: 200px;
  
    margin: 0 auto;
    margin-top: 8px;
  }
}